body {
    font-family: 'Roboto', serif;
    font-size: 16px;
    padding: 3rem;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: #616161
}

#strong {
    color: black
}

input {
    padding: 5px;
    border-width: 1px;
}

input[type="text"] {
    width: 150px;
}

a {
    color: #1da1f2;
}
